body { text-align:left; margin:10px auto 0 auto; background-color:#E0E0E0; }
img {-moz-user-select : none;}
a:focus { outline: none; }
#stage { width:720px; height:533px; position:relative; margin:0 auto; overflow:hidden; /* background-image:url(0147.gif); */ background-color: #C1CAD5; } /* skin */ /* #E49FFB */
#stage { -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
#loading { width:720px; height:533px; position:absolute; z-index:100; top:0px; left:0px; background-image:url(loading-82.gif); background-position:center center; background-repeat: no-repeat; }
#gameBody {position:absolute; top:0px; left:0px;}

#next0 { width:171px; height:57px; position:absolute; top:0px; left:529px; }
#next { width:57px; height:171px; position:absolute; top:70px; left:575px; font-size:0px; }
#md { width:513px; height:513px; text-align:left; position:absolute; left:10px; top:10px;}
#md,#next { background-image:url(empty.png); } /* skin */
/* #md,#next { background-image:url(grid.gif); background-position: -30px -29px; } */
#md div, #md img { width:57px; height:57px; position:absolute;}
#mdCover { width:513px; height:513px; position:absolute; left:10px; top:10px; background-image:url(transparent.gif); }
input,textarea {font-family:ו;font-size:14px;}

#addingScore {position:absolute; top:-1000px; left:0px;width:513px;text-align:center;color:#CC00CC;font-family:Arial Black;font-size:60px;filter:alpha(opacity=100);}
#score { position:absolute; left:530px; top:260px; width:130px; }
#currScore {text-align:center; font-family:Arial Black; font-size:20px;margin-top:10px;color:#CC0000;}
#topScore {text-align:center; font-family:Arial Black; font-size:20px;margin-top:10px;color:#4F4F4F;}

#currScore,#topScore {height:28px;}
#currScore div, #topScore div {background-image:url(number.png);float:right;width:25px;height:28px;background-repeat: no-repeat;}

#currScoreLabel {background-image:url(currScore.png);width:78px;height:19px;background-repeat: no-repeat;}
#topScoreLabel {background-image:url(topScore.png);width:78px;height:19px;background-repeat: no-repeat;margin-top:20px;}

#title {width:182px;height:36px; position:absolute; top:20px; left:525px; background-image:url(title.png);background-repeat: no-repeat;}
#aboutus {width:463px;height:461px; position:absolute; top:33px; left:36px; background-image:url(aboutus.png);background-repeat: no-repeat;}
#skinPanel {width:463px;height:461px; position:absolute; top:33px; left:36px; background-image:url(panel-skin.png);background-repeat: no-repeat;}
#skinList {width:320px;height:330px; position:absolute; top:138px; left:74px; overflow:hidden;}
#skinList a{width:144px;height:132px; display:block; float:left; margin:6px;background-image:url(bg-skin.png);background-repeat: no-repeat;}
#skinList a:hover{background-position:0px -264px;}
#skinList a.active{background-position:0px -132px;}
#skinList a.active:hover{background-position:0px -132px;}
#skinList a img{border:none;}

#btnAbout {width:82px;height:25px; background-image:url(about.png);background-repeat: no-repeat;display:block;margin-top:20px;text-decoration:none;cursor:pointer;}
#btnAbout:hover {background-position: 0px -25px;}

#btnReplay {width:82px;height:25px; background-image:url(replay.png);background-repeat: no-repeat;display:block;margin-top:10px;text-decoration:none;cursor:pointer;}
#btnReplay:hover {background-position: 0px -25px;}

#btnSkin {width:60px;height:25px; background-image:url(btn-skin.png);background-repeat: no-repeat;display:block;margin-top:10px;text-decoration:none;cursor:pointer;}
#btnSkin:hover {background-position: 0px -25px;}

#gameOverBg { width:513px; height:513px; position:absolute; left:10px; top:10px; background-image:url(gameOverBg.png); }
/* #gameOver {width:476px;height:90px; position:absolute; top:210px; left:35px; background-image:url(gameOver.png);background-repeat: no-repeat;} */
#gameOver {width:463px;height:461px; position:absolute; top:33px; left:36px; background-image:url(gameOver3.png);background-repeat: no-repeat;}
#IE6Tip { margin:0 auto 10px 0; background-color: #FFFF99; color:#000000; border:1px solid #FFCC00;font-family:ו;font-size:14px;padding:4px 0;text-align:center; }
