@charset "utf-8";
body {
}
.live{
	position:relative;
	width:80%;
	height:150px;
	padding:30px 10px 20px 30px;
}
@media screen and (min-width:600px) {
.live h3{
	font-size:32px;
	text-align:justify;
	text-transform:uppercase;
	font-family:'exodemi_bold', Geneva, sans-serif;
	color:#4EA9FF;
}
.live h4{
	font-size:22px;
	font-family:'exodemi_bold', Geneva, sans-serif;
	color:#333333;
}
.live h5{
	font-size:16px;
	font-family:'exodemi_bold', Geneva, sans-serif;
	color:#666666;
}

}
@media screen and (min-width:0px) and (max-width:600px) {
	h3, h4, h5{
		display:none;
}
}