.popup{
	-webkit-transform: scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	background-color:#FFF;
	border-radius:15px;
	
}
.popup *{
	position:static;
	font-size:16px;
	color:#F66;
	font-weight:bold;
}

.popup .header{
	border-radius:15px 15px 0px 0px;
	background-color:#FFF;
	height:28px;
	width:100%;
	border:2px #F93 solid;
	border-bottom:0px;
	color:#FFF;
	line-height:28px;
	text-indent:10px;
	font-weight:bold;
	margin:auto;
}

.popup .content{
	border:2px #F93 solid;
	width:100%;
	border-top:0px;
	border-radius:0px 0px 15px 15px;
	background-color:#FFF;
	margin:auto;
}
